*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: 'Didact Gothic', sans-serif;
}
nav#menu-top{
    width: 100%;
    height: 70px;
    position: relative;
    /* padding: 5px; */
    background-color: #11315c;
    margin-top: 25px;
}

nav#menu-top #menu-logo{
    width: 9%;
    position: absolute;
    left: 5%;
    top: -25px;
}

nav#menu-top #menu-logo img{
    width: 100%;
}

nav#menu-top .links{
    position: absolute;
    right: 5%;
}

nav#menu-top .links a{
    display: inline-block;
    height: 70px;
    padding: 13px 12px;
    min-width: 120px;
    text-decoration: none;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    border-left: 5px solid white;
    text-align: center;
    transition: .8s;
}
nav#menu-top .links a:hover{
    color:  #ee812d;
    border-left: 3px solid #ee812d;
    
}

nav#menu-top #titu{
    left: 15%;
    top: 8%;
    color: white;
    position: absolute;
    font-size: 1.8em;
}

nav#menu-top #back{
    left: 59%;
    top: 20%;
    color: white;
    position: absolute;
    font-size: 1em;
}

nav#menu-top .links #back a{
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: .8s;
}

nav#menu-top #back a:hover{
    color:  #ee812d;
    

}

#vidbg{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    margin-top: 0;
}

section{
    background-color: gray;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    margin-top: 0;
}

.container{
    padding: 60px;
    margin-top: 0;
}


.mini{
filter: blur(2px);

transition: 0.5s
}
.mini:hover{
    filter: blur(0);
}

.imagen{
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
    max-height: 400px;
}
.imagen:hover{
    opacity: 1;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background: rgba(0, 0, 0, .8);
}

.modal-content{
    margin: auto;
    display: block;
    width: 50%;
    max-width: 1000px;
}

.modal-content, #caption{
    animation-name: zoom;
    animation-duration: 0.6s;
}

#mymodal #modalImg{
    width: 100%;
    scale: 1;
}

@keyframes zoom{
    from{transform:scale(0)}
    to{transform: scale(1)}
}

#closeModal{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

#closeModal:hover,
#closeModal :focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 1000px){
    .modal-content{
        width: 200%;
    }
}

.col-md-4{
    max-height: 600px;
}

.thumbnail{
    min-width: 320px;
}

.video{
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
    min-height: 400px;
    min-width: 320px;
    width: 100%;
    height: 56%;
}
.video:hover{
    opacity: 1;
}

.name{
    font-size: 5em;
    color: white;
    left: 15%;
}

/* tablet */

@media (max-width: 768px){

    #vidbg{
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin-top: 0;
        
    }

    nav#menu-top #menu-logo img{
        width: 100%;
        margin-top: 35%;
    }

    nav#menu-top #titu{
        left: 20%;
        top: 8%;
        color: white;
        position: absolute;
        font-size: 1.6em;
    }

    .col-md-4{
        margin-left: 15%;
        max-width: 500px;
    }

    .modal-content{
        margin: auto;
        display: block;
        width: 80%;
        max-width: 1000px;
    }
    

}

/* celular*/

@media (max-width: 360px){

    .portada-header{
        left: 15%;
    }
    
    .name{
        font-size: 2em;
        color: white;
        left: 15%;
    }

    

    

}